
#app {
    position: relative;
    min-height: 200px;
    /* căn giữa*/
    top: 50%;
    transform: translate(0,-50%);
}


#ground {
    position: absolute;
    bottom: 0;
    background: url('sprites.png') repeat-x bottom;
    min-height: 30px;
    width: 100%;
}

#info {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #535353;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    z-index: 2;
    background: white;
    font-size: 1em;
    text-transform: uppercase;
  }


  #trex {
    position: absolute;
    background: url(./sprites.png) no-repeat bottom;
    width: 85px;
    height: 95px;
    background-position: -1338px 0px;
    animation: trex-run 0.3s steps(5) infinite;
    left: 50px;
    bottom: 0;
    z-index: 1;
  }

  #cactuses {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  
  .cactus {
    position: absolute;
    bottom: 0;
  }
  
  .cactus div {
    display: inline-block;
    white-space: nowrap;
    background: url(./sprites.png) no-repeat top;
  }
  
  .cactus .small {
    width: 35px;
    height: 70px;
    background-position-x: -445px;
  }
  
  .cactus .big {
    width: 50px;
    height: 95px;
    background-position-x: -650px;
  }

  @keyframes trex-run {
    100% {
      background-position-x: -1780px;
    }
  }